/****** importing google font ***/
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Quicksand&family=Roboto&display=swap');

/*** import react boostrap scss files ***/
@import "../node_modules/bootstrap/scss/bootstrap.scss";



/******** Mixins ***********/
@mixin border($color) {
    border: 1px solid $color;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin display($display) {
    display: $display;
}

@mixin mediaQuery {
    @media only screen and (max-width: 600px) {
        @content;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: red;
    }
}



.app {
    width: 100vw;
    overflow-x: hidden;
}

/********* Navbar ************/
.header {
    @include flex(column, space-around, nill);
    background-color: yellow;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;

    .navbar {
        @include flex(row, space-evenly, center);
        height: 10vh;
    
       .logo{
        padding: 10px;
       }
       .nav-list-big {
           display: block;
           list-style: none;
            @include flex(row, space-around, center);
            width: 20%;
            padding: 10px;
        }
        .toggle-icon{
            @include display(none);
        }
    }

    .closed {
        @include display(none);
    }

}


@media only screen and (max-width: 600px) {
    .header {
        .navbar{

            .nav-list-big{
                @include display(none);
            }
            .toggle-icon{
                @include display(block);
                cursor: pointer;
                padding: 3px;
            }
        }

        .closed{
            @include display(none);
            overflow: hidden;
        }
        .open{
           @include display(block);
            list-style: none;
            @include flex(column, space-between, center);
            width: 100%;
            padding: 10px;
            background-color: pink;

            h4{
                //margin-bottom: 5px;
                padding: 5px;
            }
        }
    }
}

/*********** Homepage ************/
.homepage {
    width: 100vw;
}

/*********HomeCarousel******************/
.home-carousel {
    text-transform: capitalize;
    //color: black;

    .image{
        height: 80vh;
    }

    .item{
        color: red;
    }
}

//////// Service page ///////////
.services-container {
    background-color: pink;
    @include flex(column, center, center );
    padding: 10px 15px;

    .title-box{
        padding: 30px 10px;

        .service-title{
            text-align: center;
            padding: 10px;
            border-bottom: 3px solid green;
        }
    }
    

    .services-box{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        

        .service{
            @include flex(column, center, center);
            padding: 5px 15px;
            text-align: center;
            //width: 300px;

            .title{
                text-transform: capitalize;
                padding: 15px;
                color: green;
            }
        }
    }
}

//////// Featured Rooms/////////
.featured-rooms {
    width: 100vw;
    padding-bottom: 40px ;
    background-color: white;

    .title-box{
        text-align: center;
        width: 100%;
        padding: 25px 0;
        @include flex(column, center, center);
    }

    .rooms{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .rooms-sample {
            position: relative;
            @include flex(column, center, center);
            height: 100%;
            margin: 0 10px;
            @include mediaQuery() {
                //margin-bottom: 10px;
            }

            .price{
                padding: 10px;
                border-radius: 0 0 20px 0;
                color: white;
                background-color: black;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
            }
            .image{
                height: 85%;
                width: 100%;

                img{
                    width: 100%;
                    height: 100%;

                    &:hover{
                        opacity: 60%;
                    }
                }
            }
            .foot{
                background-color: brown;
                text-align: center;
                height: 15%;
                width: 100%;
                color: white;
                
                h6{
                    padding: 5px;
                    text-transform: capitalize;
                }
            }
        }
    }
}
/*
.room{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px 20px;
            position: relative;
            border: 1px solid blue;
            //transition: opacity 0.5s;
*/

//////// Flip cards///////////
.flips {
    width: 100%;
    //overflow-x: hidden;
    height: 60vh;
    background-image: url('https://i.ibb.co/wSDm1Pp/hotel-view.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @include flex(row, center, center);
    @include mediaQuery() {
        background-attachment: initial;
        
    }

    .cards-box{
        width: 90%;
        margin: 0 auto;
        height: 60%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        align-items: center;
        @include mediaQuery() {
            
        }

        .card{
            @include flex(column, space-evenly, center);
            position: relative;
            height: 90%;
            min-width: 20%;
            margin: 0 25px;
            background: white;
            color: darkslategrey;
            cursor: pointer;
            border-radius: 5px;
            @include mediaQuery(){
                
            }

            &:hover{
                //transform: rotateY(360deg);
                animation-name: rotation;
                animation-duration: 1s;
                animation-iteration-count: 1;
            }

            .icon{
                font-size: 1.5rem;
                padding: 10px 15px;
                border-radius: 50%;
                position: absolute;
                top: -25px;
                background: darkslategrey;
                color: white;
                //border: 2px solid darkslategrey;

                @include mediaQuery() {
                    position: relative;
                    background-color: pink;
                }
            }
        }
        @keyframes rotation {
            from {
                transform: rotateY(0);
                background: white;
                color: darkslategrey;
            }
            to {
                transform: rotateY(180deg);
                background: darkslategrey;
                color: white;
            }
        }
    }
}

/////////Rooms page ///////////
.rooms-page {
    width: 100vw;
    
    .top{
        width: 100%;
        height: 70vh;
        background-image: url('https://i.ibb.co/FxJ4q4n/room-1.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        @include flex(column, center, center);


        .center-div{
            width: 25%;
            height: 35%;
            background: darkslategrey;
            @include flex(column, space-around, center);
            opacity: 60%;

            p{
                font-size: 2.7rem;
                color: white;
                font-weight: bolder;
            }
            .home{
                background: rgb(206, 146, 69);
                padding: 5px 10px;
                text-transform: uppercase;
                color: yellow;
                font-weight: bold;
            }
        }
    }
}

////// RoomsFilter ////////
.room-filter {
    @include flex(column, center, center);
    width: 100vw;
    

    .search-room{
        text-align: center;
        font-size: 2.7rem;
        font-weight: bolder;
        color: black;
        background: white;
        padding: 25px;
        width: 100%;
    }

    .filter{
        width: 100%;
        padding: 20px;
        background: pink;
        
        form{
            @include flex(row, space-around, center);
            width: 80%;
            margin: 0 auto;

            .option-box{
                //border: 1px solid green;
                @include flex(column, center, flex-start);
            }
            .check{
                @include flex(column, center, flex-start);

                .option{
                    @include flex(row, center, center);
                    padding: 2px 10px;
                }
            }
        }
    }
    .rooms-show{
        width: 100%;
    }
}

//////// Rooms list ////////////
.rooms-list-container {
    width: 100%;

    .room-list {
        margin: 0 auto;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        //background: grey;
        text-align: center;
        color: red;

        .the-room{
            //width: 320px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 10px 20px;
            position: relative;
            margin: 10px;
            border: 1px solid red;
            //transition: opacity 0.5s;

            .price{
                padding: 10px;
                border-radius: 0 0 20px 0;
                color: white;
                background-color: black;
                //width: 80px;
                position: absolute;
                overflow: hidden;
                top: 0;
                left: 0;
            }
            .image{
                height: 85%;

                img{
                    width: 100%;
                    height: 100%;

                    &:hover{
                        opacity: 60%;
                    }
                }
            }
            .foot{
                background-color: grey;
                text-align: center;
                height: 15%;
                
                h6{
                    padding: 5px;
                    text-transform: capitalize;
                }
            }
        }
    }
}

////////// Room ////////////
.room {
    @include flex(column, center, center);
    width: 100vw;
    position: relative;

    .top{
        width: 100%;
        height: 60vh;
        @include flex(column, center, center);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .center{
            width: 32%;
            height: 50%;
            margin: 0 auto;
            @include flex(column, space-between, center);
            background-color: darkgrey;
            text-transform: capitalize;
            padding: 20px 0;
            opacity: 80%;
            font-weight: bolder;

            .room-type{
                font-size: 2.5rem;
                font-weight: 700;
                color: red;
            }
            .back{
                background: brown;
                color: yellow;
                padding: 10px 15px;
            }
        }
    }

    .middle{
        @include flex(row, center, center);
        height: 40vh;
        width: 75%;
        margin: 0 auto;
        padding: 20px 0;

        img{
            width: 45%;
            height: 85%;
            margin: 0 15px;
        }
    }

    .bottom{
        @include flex(row, space-around, nill);
        width: 75%;
        margin: 0 auto;
        padding: 20px 10px;
        
        .details{
            width: 50%;
        }
        .info{
            width: 30%;

            .features{
                list-style: none;
                font-weight: bold;
                padding: 10px 0;
            }
        }
    }
}
